extends ../_layout/_master

block body
    body#image
        img(src="https://avatars2.githubusercontent.com/u/9803183?v=3&s=460" alt=title)
        small 250 x 250 pixels (Natural: 460 x 460 pixels)