extends ../_layout/_master

block body
    body#code
        .row.t1.end
            .cmd /**
        .row.t2.end
            .cmd Emre Tekin CV - Update 01.2017
        .row.t1.end
            .cmd **/
        .row.t1.end
        .row.t1.end
            .obj {
        .row.t2
            .name "name"
            .value "Emre Tekin"
        .row.t2
            .name "title"
            .value "Front-End Developer"
        .row.t2.end
            .name "personal"
            .obj {
        .row.t3
            .name "brith"
            .value "1993/11/16 02:26:44 GMT+0200 (+02)"
        .row.t3
            .name "place_of_brith"
            .value "Kocaeli TR"
        .row.t3
            .name "military_service"
            .boo false
        .row.t3
            .name "single"
            .boo true
        .row.t3.end
            .name "driving_licence"
            .boo true
        .row.t2
            .obj }
        .row.t2.end
            .name "contact"
            .obj {
        .row.t3
            .name "address"
            .value "Esenkent mh. Çınaraltı sk. no:22 Maltepe/İSTANBUL"
        .row.t3
            .name "mobile_phone"
            a(href="tel:05448890130").value "544 889 01 30"
        .row.t3.end
            .name "email"
            .obj [
        .row.t4
            a(href="mailto:web.exxe@gmail.com").value "web.exxe@gmail.com"
        .row.t4.end
            a(href="mailto:posta@emretekin.com.tr").value "posta@emretekin.com.tr"
        .row.t3
            .obj ]
        .row.t3
            .name "web_site"
            a(href="http://emretekin.com.tr" target="_blank").value "http://emretekin.com.tr"
        .row.t3
            .name "kariyer_net"
            a(href="http://kariyer.net/ozgecmis/emretekin.com.tr" target="_blank").value "http://kariyer.net/ozgecmis/emretekin.com.tr"
        .row.t3.end
            .name "github"
            a(href="https://github.com/webexxe" target="_blank").value "https://github.com/webexxe"
        .row.t2
            .obj }
        .row.t2.end
            .name "education"
            .obj [
        .row.t3.end
            .obj {
        .row.t4
            .name "school"
            .value "ANADOLU ÜNİVERSİTESİ AÇIK ÖĞRETİM FAKÜLTESİ"
        .row.t4
            .name "department"
            .value "İşletme"
        .row.t4.end
            .name "date"
            .value "2015 - Devam Ediyor"
        .row.t3
            .obj }
        .row.t3.end
            .obj {
        .row.t4
            .name "school"
            .value "ULUDAĞ ÜNİVERSİTESİ KARACABEY MESLEK YÜKSEK OKULU"
        .row.t4
            .name "department"
            .value "Bilgisayar Programcılığı"
        .row.t4.end
            .name "date"
            .value "2012 - 2014"
        .row.t3
            .obj }
        .row.t3.end
            .obj {
        .row.t4
            .name "school"
            .value "YILDIRIM BEYAZIT IMKB ENDUSTRİ MESLEK LİSESİ"
        .row.t4
            .name "department"
            .value "Bilişim Teknolojileri / Ağ Sistemleri Yönetimi"
        .row.t4.end
            .name "date"
            .value "2008 - 2012"
        .row.t3.end
            .obj }
        .row.t2
            .obj ]
        .row.t2.end
            .name "skills"
            .obj {
        .row.t3.end
            .name "javascript"
            .obj [
        .row.t4
            .value "AngularJS"
        .row.t4
            .value "Ionic"
        .row.t4
            .value "jQuery Library"
        .row.t4
            .value "Coffe Script"
        .row.t4.end
            .value "Rest Api"
        .row.t3
            .obj ]
        .row.t3.end
            .name "css"
            .obj [
        .row.t4
            .value "Oocss"
        .row.t4
            .value "Sass"
        .row.t4
            .value "Less"
        .row.t4
            .value "Stylus"
        .row.t4
            .value "Bootstrap"
        .row.t4
            .value "Ionic"
        .row.t4
            .value "Materialize"
        .row.t4.end
            .value "Lungo"
        .row.t3
            .obj ]
        .row.t3.end
            .name "html"
            .obj [
        .row.t4
            .value "Jade"
        .row.t4
            .value "Pug"
        .row.t4
            .value "HTML-5"
        .row.t4.end
            .value "XHTML"
        .row.t3
            .obj ]
        .row.t3.end
            .name "streaming_build"
            .obj [
        .row.t4
            .value "Gulp"
        .row.t4
            .value "Grunt"
        .row.t4
            .value "npm"
        .row.t4
            .value "bower"
        .row.t4.end
            .value "yeoman"
        .row.t3
            .obj ]
        .row.t3.end
            .name "version_control"
            .obj [
        .row.t4
            .value "git/Github"
        .row.t4
            .value "git/Bitbucket"
        .row.t4.end
            .value "Svn"
        .row.t3
            .obj ]
        .row.t3.end
            .name "graphics_programs"
            .obj [
        .row.t4
            .value "Adobe Photoshop"
        .row.t4
            .value "Adobe Illustrator"
        .row.t4.end
            .value "Sketch"
        .row.t3.end
            .obj ]
        .row.t2
            .obj }
        .row.t2.end
            .name "experience"
            .obj [
        .row.t3.end
            .obj {
        .row.t4
            .name "company"
            .value "Garajyeri.com"
        .row.t4
            .name "department"
            .value "Front-End Developer"
        .row.t4
            .name "back_end"
            .value "Java - Play"
        .row.t4.end
            .name "date"
            .value "2016 - Devam Ediyor"
        .row.t3
            .obj }
        .row.t3.end
            .obj {
        .row.t4
            .name "company"
            .value "Turkticaret.net"
        .row.t4
            .name "department"
            .value "Front-End Developer"
        .row.t4
            .name "back_end"
            .value "Php - Laravel"
        .row.t4.end
            .name "date"
            .value "2015 - 2016"
        .row.t3
            .obj }
        .row.t3.end
            .obj {
        .row.t4
            .name "company"
            .value "Ulunet E-Ticaret"
        .row.t4
            .name "department"
            .value "Front-End Developer"
        .row.t4
            .name "back_end"
            .value ".Net MVC - Razor"
        .row.t4.end
            .name "date"
            .value "2014 - 2015"
        .row.t3
            .obj }
        .row.t3.end
            .obj {
        .row.t4
            .name "company"
            .value "Nes Tanıtım Reklam Ajansı"
        .row.t4
            .name "department"
            .value "Web Developer"
        .row.t4
            .name "back_end"
            .value "Php - Wordpress"
        .row.t4.end
            .name "date"
            .value "2014 - 2014"
        .row.t3.end
            .obj }
        .row.t2.end
            .obj ]
        .row.t1.end
            .obj }